[Unit]
Description=xmtpd-worker
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
EnvironmentFile=/etc/xmtpd/xmtpd.env
ExecStart=/usr/local/bin/xmtpd --indexer.enable --sync.enable --payer-report.enable --contracts.config-file-path=/etc/xmtpd/testnet.json

[Install]
WantedBy=multi-user.target