[Unit]
Description=xmtpd-prune
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
EnvironmentFile=/etc/xmtpd/xmtpd.env
ExecStart=/usr/local/bin/xmtpd-prune

[Install]
WantedBy=multi-user.target