[Unit]
Description=xmtpd-api
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
EnvironmentFile=/etc/xmtpd/xmtpd.env
ExecStart=/usr/local/bin/xmtpd --reflection.enable --api.enable --log.log-level=debug --api.port=5050 --contracts.config-file-path=/etc/xmtpd/testnet.json

[Install]
WantedBy=multi-user.target